<%= render 'shared/header' %>

<div class='kijiichiran'>記事一覧</div>
<% @articles.each do |article| %>
  <div class="card">
  <header class="card-header">
    <p class="card-header-title">
    <%= article.title %>
    </p>
  </header>
  <div class="card-content">
  <%= article
  </div>
</div>
<% end %>
