<div class= 'header_image'>
  <%= image_tag 'makimono.jpeg',class:'header_image' %>
  <P class='header_text'>ひすとりびあ</p>
  <div class='user_btn'>
  <li><%= link_to 'ログイン', "#", class: "login" %></li>
  <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
</div>

<a href="#" >HELLO!</a>
<a href="#" class="button">HELLO!</a>
<a href="#" class="button is-primary is-large">HELLO!</a>
<a href="#" class="button is-primary is-medium">HELLO!</a>
<a href="#" class="button is-primary is-small">HELLO!</a>
<a href="#" class="button is-info is-small">HELLO!</a>
<a href="#" class="button is-success is-small">HELLO!</a>
<a href="#" class="button is-warning is-small">HELLO!</a>
<a href="#" class="button is-danger is-small">HELLO!</a>
<a href="#" class="button is-white is-small">HELLO!</a>
<a href="#" class="button is-black is-small">HELLO!</a>