<section class="hero is-primary">
<div class='user-btn'>
</div>
<div class="hero-body">
  <p class="title">
    ひすとりびあ〜HISTORIVIA~
  </p>
  <p class="subtitle">
    〜教科書では教えてくれない歴史雑学〜
  </p>
</div>
</section>
